- if (module.events)
    h2 Events
    div.jsdoc-property-list
        each event in module.events
            div.jsdoc-field.TODOpublic
                div.jsdoc-title
                    a(name='#{event.name}')
                    span.functionIcon #{event.name}
                    | <span class="parameters">(
                    -  each parm, idx in event.parameters
                        | #{parm.name}
                        - if (idx < event.parameters.length-1)
                            | , 
                    | )</span>
                div.jsdoc-inheritance.TODO Defined by: 
                    a.jsdoc-link(href='#{event.from}') #{event.from} 
                    span.jsdoc-inherited.TODO(title='inherited')       
                
                div.jsdoc-summary !{event.summary}