- if (module.methods)
    h2.jsdoc-summary-heading Method Summary
        span.jsdoc-summary-toggle
    div.jsdoc-summary-list
        ul.jsdoc-property-list
            each method in module.methods
                li.functionIcon
                    a.inline-link(href='##{method.name}') !{method.name}
                    span.parameters (
                    -  each parm, idx in method.parameters
                        | #{parm.name}
                        - if (idx < method.parameters.length-1)
                            | , 
                    | ) 
                    span !{method.shortSummary}
                    // span !{method.summary}
                    
