- if (module.methods)
    h2 Methods
    div.jsdoc-property-list
        each method in module.methods
            - var klass = 'jsdoc-field' 
            - klass += (method.private == true ? " private" : "")
            - if (method.inherited) klass += ' inherited' 
            div(class="#{klass}")
                div.jsdoc-title
                    a(name='#{method.name}')
                    span.functionIcon #{method.name}
                    | <span class="parameters">(
                    -  each parm, idx in method.parameters
                        | #{parm.name}
                        - if (idx < method.parameters.length-1)
                            | , 
                    | )</span> 
                    - if (method.private)
                      span.jsdoc-private(title="private") 
                div.jsdoc-inheritance.TODO Defined by 
                    a.jsdoc-link(href='#{config.contextPath}api/#{module.version}/#{method.from}') #{method.from}
                    - if (method.inherited)
                      span.jsdoc-inherited(title='inherited')
                div.jsdoc-full-summary !{method.summary}
                - if (method.parameters)
                    params = method.parameters
                    returnTypes = method.returnTypes
                    returnDescription = method.returnDescription
                    include parametertable
                
