- if (params && params.length > 0)
    table.jsdoc-parameters
        tr
            th.blah1 Parameter
            th.blah2 Type
            th.blah3 Description
        each item in params
            tr
                td.jsdoc-param-name #{item.name}
                td.jsdoc-param-type !{item.types.join(" | ")}
                if (item.summary)
                    //- ! used instead of # to unescape
                    td.jsdoc-param-description !{item.summary} 
                else
                    td.jsdoc-param-description !{item.description}
                     
- if (returnTypes != null && returnTypes.length > 0)
    div
        strong Returns: 
        span.jsdoc-return-type !{returnTypes.join(" | ")}
- if (returnDescription)
    div.jsdoc-return-description !{returnDescription}