- if (module.properties)
    h2 Properties
    div.jsdoc-property-list
        each prop in module.properties
            - var klass = 'jsdoc-field' 
            - klass += (prop.private == true ? " private" : " public")
            - if (prop.extensionModule) klass += ' extension-module' 
            div(class="#{klass}")
                div.jsdoc-title
                    a(name='#{prop.name}')
                    span(class="#{convertType(prop.types[0])}Icon") #{prop.name}
                    - if (prop.private)
                      span.jsdoc-private(title="private") 
                    
                div.jsdoc-inheritance.TODO Defined by: 
                    a.jsdoc-link(href='#{prop.from}') #{prop.from} 
                    span.jsdoc-inherited.TODO(title='inherited')       
                - if (prop.summary !=null)
                    div.jsdoc-summary !{autoHyperlink(prop.summary)}
                - else if (prop.description !=null)
                    div.jsdoc-summary
                        div.jsdoc-summary !{autoHyperlink(prop.description)}
                
