- if (module.properties)
    h2 Properties
    div.jsdoc-property-list
        each prop in module.properties
            div.jsdoc-field.TODOpublic
                div.jsdoc-title
                    a(name='#{prop.name}')
                    span(class="#{convertType(prop.types[0])}Icon") #{prop.name}
                div.jsdoc-inheritance.TODO Defined by: 
                    a.jsdoc-link(href='#{prop.from}') #{prop.from} 
                    span.jsdoc-inherited.TODO(title='inherited')       
                - if (prop.summary !=null)
                    div.jsdoc-summary !{autoHyperlink(prop.summary)}
                - else
                    div.jsdoc-summary
                        h1 PROP.SUMMARY WAS NULL
                
