!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href="#{config.contextPath}css/jsdoc_original.css")
    link(rel='stylesheet', href="#{config.contextPath}css/site_original.css")
    script(type="text/javascript")
        dojoConfig = {async:0, debug:1, noGlobals:0, 
            packages: [{name:"api", location:location.pathname.replace(/\/[^/]+$/, '/') + "#{config.contextPath}scripts/api"}],
            apiPath : '#{config.contextPath}apidata',
            apiDefault : '#{config.defaultVersion}'
        }
    link(rel='stylesheet', href="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dijit/themes/#{config.theme}/#{config.theme}.css")
    // link(rel='stylesheet', href="/#{config.dojobase}/dijit/themes/#{config.theme}/#{config.theme}.css")

    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js")
    script(type="text/javascript", src="#{config.contextPath}scripts/api.js")
  body(class="#{config.theme}")
    block main
        block header
        block navigation
        block content
