!!!5
html
  head
    title #{title} Version #{module !=null ? module.version : config.defaultVersion} 
    link(rel='stylesheet', href="#{config.contextPath}css/jsdoc_original.css")
    link(rel='stylesheet', href="#{config.contextPath}css/site_original.css")
    script(type="text/javascript")
        // packages: [{name:"api", location:location.pathname.replace(/\/[^/]+$/, '/') + "#{config.contextPath}scripts/api"}],
        dojoConfig = {async:0, debug:1, noGlobals:0, 
            packages: [{name:"api", location: "#{config.contextPath}scripts/api"}],
            apiPath : '#{config.contextPath}#{config.apiDataPath}',
            context : '#{config.contextPath}',
            apiDefault : '#{config.defaultVersion}'
        }
    link(rel='stylesheet', href="#{config.dojoBase}/dijit/themes/#{config.theme}/#{config.theme}.css")
    // link(rel='stylesheet', href="/#{config.dojobase}/dijit/themes/#{config.theme}/#{config.theme}.css")

    //script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js")
    script(type="text/javascript", src="#{config.dojoBase}/dojo/dojo.js")
    script(type="text/javascript", src="#{config.contextPath}scripts/api.js")
    
    
    script(type="text/javascript", src="#{config.contextPath}scripts/syntaxhighlighter/scripts/shCore.js")
    script(type="text/javascript", src="#{config.contextPath}scripts/syntaxhighlighter/scripts/shBrushJScript.js")
    script(type="text/javascript", src="#{config.contextPath}scripts/syntaxhighlighter/scripts/shBrushXml.js")
    
    link(rel='stylesheet', href="#{config.contextPath}scripts//syntaxhighlighter/css/shCore.css")
    link(rel='stylesheet', href="#{config.contextPath}scripts//syntaxhighlighter/css/shThemeDefault.css")


  body(class="#{config.theme}")
    block main
        block header
        block navigation
        block content
