!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href="/css/jsdoc_original.css")
    link(rel='stylesheet', href="/css/site_original.css")
    script
        dojoConfig = {async:0, debug:1, noGlobals:0, 
            packages: [{name:"api", location:"/scripts/api"}],
            apiPath : '/scripts/apidata'     
        }
    link(rel='stylesheet', href="/#{config.dojobase}/dijit/themes/#{config.theme}/#{config.theme}.css")

    script(src="/#{config.dojobase}/dojo/dojo.js")
    script(src="/scripts/api.js")
  body(class="#{config.theme}")
    block main
        block header
        block navigation
        block content
