div(data-dojo-type="dijit.layout.ContentPane", title="Legend") Types:
    ul.jsdoc-legend
        li
            img(src="#{config.contextPath}css/icons/16x16/array.png", align="middle", title="Array", alt="Array", border="0")
            | - Array
        li            
            img(src="#{config.contextPath}css/icons/16x16/boolean.png", align="middle", title="Boolean", alt="Boolean", border="0" )
            | - Boolean
        li            
            img(src="#{config.contextPath}css/icons/16x16/constructor.png", align="middle", title="Constructor", alt="Construcor", border="0" )
            | - Constructor
        li            
            img(src="#{config.contextPath}css/icons/16x16/date.png", align="middle", title="Date", alt="Date", border="0" )
            |  - Date
        li            
            img(src="#{config.contextPath}css/icons/16x16/domnode.png", align="middle", title="DomNode", alt="DomNode", border="0" )
            | - DomNode
        li            
            img(src="#{config.contextPath}css/icons/16x16/error.png", align="middle", title="Error", alt="Error", border="0" )
            | - Error
        li            
            img(src="#{config.contextPath}css/icons/16x16/function.png", align="middle", title="Function", alt="Function", border="0" )
            | - Function
        li            
            img(src="#{config.contextPath}css/icons/16x16/number.png", align="middle", title="Number", alt="Number", border="0" )
            |  - Number
        li            
            img(src="#{config.contextPath}css/icons/16x16/object.png", align="middle", title="Object", alt="Object", border="0" )
            |  - Object
        li            
            img(src="#{config.contextPath}css/icons/16x16/regexp.png", align="middle", title="RegExp", alt="RegExp", border="0" )
            | - RegExp
        li            
            img(src="#{config.contextPath}css/icons/16x16/singleton.png", align="middle", title="Singleton", alt="Singleton", border="0" )
            | - Array
        li            
            img(src="#{config.contextPath}css/icons/16x16/string.png", align="middle", title="String", alt="String", border="0" )
            | - String
    | modifiers
    ul.jsdoc-legend
        li
            span.jsdoc-extension
            | - extension property/method; must manually require() another module to access this
        li
            span.jsdoc-private
            | - private property/method
        li
            span.jsdoc-inherited
            | - inherited from a superclass
