script(type="text/javascript")
    // If user loads this page directly, redirect to index page, with parameter to initially show tab for this module.
    // If google loads this page directly it will hopefully ignore this script and just index the documentation below.
    // Also, when this page is loaded via XHR this script block should be ignored.
    location = "#{config.contextPath}?qs=#{module !=null ? module.version : config.defaultVersion}/#{module.location}" + location.hash;

div.jsdoc-permalink(style="display:none") #{config.contextPath}#{module !=null ? module.version : config.defaultVersion}/#{module.location}.html
h1(class="#{convertType(module.type)}Icon36 jsdoc-title module-title") #{module.location}
        span(style="font-size:11px;color:#999;")  (version #{module.version})
- if (module.mixins != null)
    div.jsdoc-mixins
        label Extends 
        each item, idx in module.mixins
            a.jsdoc-link(href='#{config.contextPath}#{module !=null ? module.version : config.defaultVersion}/#{item.location}') #{item.location}#{idx < module.mixins.length-1 ? ", " : ""}
- if (module.summary != null)
      div.jsdoc-full-summary !{autoHyperlink(module.summary, config, module.version)}
- if (module.description != null)
      div.jsdoc-full-summary !{autoHyperlink(module.description, config, module.version)}
- if (module.kwArgs && module.kwArgs == true)
    p <strong>Note:</strong> This is not a real constructor, but just a description of the type of object that should be passed as
        | a parameter to some method(s), and/or the return value from some method(s).
        | In other words, the type exists only for documentation purposes, and you <strong>cannot</strong> call <code>new #{module.location.replace(/.*\//, "")}()</code>
- if (module.usage != null)
      div.jsdoc-function-information
        h2 Usage:
        div.function-signature
            - if (module.usage.isTopLevelFunction == false)
                span.keyword var
                |  foo = new #{module.location.replace(/.*\//, "")}
            - else
                | #{module.location.replace(/.*\//, "")}
            span.parameters (#{module.usage.parameterList});
    - if (module.usage && module.usage.isTopLevelFunction == false)
      div.jsdoc-inheritance Defined by !{autoHyperlink(module.usage.from, config, module.version)}
      - if (module.usage.description !=null)
        div.jsdoc-summary
            !{module.usage.description}
params = module.parameters
returnTypes = module.usage !=null ? module.usage.returnTypes : null
returnDescription = module.usage !=null ? module.usage.returnDescription : null
include module/parametertable
- if (config.refDocs.enabled == true)
    - refDoc = getRefDoc(module.location, module.version, config)
        - if (refDoc)
            p See the 
                a(href='#{config.refDocs.url + module.version + "/" + refDoc + config.refDocs.suffixToGenerate}', target='_blank') #{module.location} reference documentation
                |  for more information.
examples = module.examples
div.jsdoc-children
    div.jsdoc-field-list
        include module/examples
        include module/propertiessummary
        include module/methodssummary
        include module/eventssummary

div.jsdoc-children
    div.jsdoc-fields
        include module/properties
        include module/methods
        include module/events

- if (config.bugdb != null)
    a.feedback(href='#{config.bugdb}#{config.contextPath}#{module !=null ? module.version : config.defaultVersion}/#{module.location}') Error in the documentation? Can’t find what you are looking for? Let us know!