!!!5
html
    head
        title Dojo API Module Tree List - version #{version}
        meta(name="Description", content="Dojo toolkit API documentation, A list of all modules provided by version #{version}")
    body
        h1 Dojo API module listing
        mixin treeitems(items)
            each treeitem in items
                ul
                    - if (treeitem.type == 'folder')
                        li #{treeitem.name}
                            mixin treeitems(treeitem.children)
                    - else if (treeitem.children && treeitem.children.length > 0)
                        li 
                            a(href='#{treeitem.fullname}.html') #{treeitem.name}
                            mixin treeitems(treeitem.children)
                    - else
                        li 
                            a(href='#{treeitem.fullname}.html') #{treeitem.name}
        
        - if (tree)
        mixin treeitems(tree.children)
