extend layout
block main
    block welcomepage
        div#mainview(data-dojo-type="dojox/mobile/View", data-dojo-props="selected: true, scrollType:2")
            h1#heading(data-dojo-type="dojox/mobile/Heading", data-dojo-props="label:\'The Dojo Toolkit API\', fixed:'top' ")
            div(data-dojo-type="dojox/mobile/RoundRect", data-dojo-props='shadow:true') 
                p Welcome to the DOJO API viewer, this API viewer is optimised for mobile devices. 
                p Please select the version you want to view which are listed below
            ul#versionlist(data-dojo-type="dojox/mobile/RoundRectList")
                - each version in config.versions
                    li(data-dojo-type="dojox/mobile/ListItem", data-dojo-props="label:'Version #{version}', noArrow:true, rightIcon2:'mblDomButtonSilverCircleDownArrow', moveTo:'#treesdataview_#{version}' , version: '#{version}'") 
                        
        - each version, idx in config.versions
            div(id="treesdataview_#{version}", data-dojo-type="dojox/mobile/View", data-dojo-props="keepScrollPos:false, scrollType:2")
                div(id="headversion_#{version}", data-dojo-type="dojox/mobile/Heading", data-dojo-props="label:\'DOJO Version\ #{version}', back:'Back', moveTo:'#mainview', fixed:'top' ")